    <!--<div class="col-sm-12" ng-show="!showTrain">-->
        <!--<div class="panel panel-primary"  style="border: none">-->
            <!--<div class="panel-body text-center">-->
                <!--<i class="fa fa-refresh fa-spin fa-5x"></i>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <div class="col-sm-9 col-md-9">

        <div class="block-flat">
            <div class="content">
                <div class="table-responsive">
                    <table class="table no-border">
                        <thead class="no-border">
                        <tr>
                            <th></th>
                            <th class="bg-{{getStausClass(motorCoachDataOne.conditionName)}} text-center"><i class="fa fa-train text-default fa-5x"></i></th>
                            <th class="bg-{{getStausClass(motorCoachDataTwo.conditionName)}} text-center"><i class="fa fa-train text-default fa-5x"></i></th>
                            <th class="bg-{{getStausClass(motorCoachDataThree.conditionName)}} text-center"><i class="fa fa-train text-default fa-5x"></i></th>
                        </tr>
                        </thead>
                        <thead class="no-border">
                        <tr>
                            <th><strong>Trains</strong></th>
                            <th class="text-center text-{{getStausClass(motorCoachDataOne.conditionName)}}">{{ motorCoachDataOne.name }}</th>
                            <th class="text-center text-{{getStausClass(motorCoachDataTwo.conditionName)}}">{{ motorCoachDataTwo.name}}</th>
                            <th class="text-center text-{{getStausClass(motorCoachDataThree.conditionName)}}">{{ motorCoachDataThree.name}}</th>
                        </tr>
                        </thead>
                        <tbody class="no-border-y">
                        <tr class="text-center">
                            <td>Brake Valve</td>
                            <td class="text-center">
                                <div class="g-100x60 center-block" id="bvGage-1">
                                    <just-gage id="motorCoachBrake1" class="g-100x60"
                                               value="motorCoachDataOne.brakeVacuum" min=0 max=116 >
                                    </just-gage>
                                </div>
                            </td>

                            <td class="text-center">
                                <div class="g-100x60 center-block" id="bvGage-2">
                                    <just-gage id="motorCoachBrake2" class="g-100x60"
                                               value="motorCoachDataTwo.brakeVacuum" min=0 max=116 >
                                    </just-gage>
                                </div>
                            </td>
                            <td>
                                <div class="g-100x60 center-block" id="bvGage-3">
                                    <just-gage id="motorCoachBrake3" class="g-100x60"
                                               value="motorCoachDataThree.brakeVacuum" min=0 max=116 >
                                    </just-gage>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Shaft Encoders</td>
                            <td class="text-center">
                                <p ng-click="showShaftEncoder1=!showShaftEncoder1" class="text-success"><button class="btn btn-sm btn-success">OK&nbsp;<i class="fa fa-caret-square-o-down"></i></button></p>
                                <div ng-show="showShaftEncoder1">
                                    <p><strong>Shaft 1:</strong>&nbsp;<input type="text" style="width:30px;padding-left: 2px" value="{{ motorCoachDataOne.shaftEncoder1Speed }}" disabled /></p>
                                    <p><strong>Shaft 2:</strong>&nbsp;<input type="text"  style="width:30px;padding-left: 2px" value="{{ motorCoachDataOne.shaftEncoder2Speed }}" disabled /></p>
                                    <p><strong>Shaft 3:</strong>&nbsp;<input type="text"  style="width:30px;padding-left: 2px" value="{{ motorCoachDataOne.shaftEncoder3Speed }}" disabled /></p>
                                    <p><strong>Shaft 4:</strong>&nbsp;<input type="text"  style="width:30px;padding-left: 2px" value="{{ motorCoachDataOne.shaftEncoder4Speed }}" disabled /></p>
                                </div>
                            </td>
                            <td class="text-center">
                                <p ng-click="showShaftEncoder2=!showShaftEncoder2" class="text-success"><button class="btn btn-sm btn-success">OK&nbsp;<i class="fa fa-caret-square-o-down"></i></button></p>
                                <div ng-show="showShaftEncoder2">
                                    <p><strong>Shaft 1:</strong>&nbsp;<input type="text" style="width:30px;padding-left: 2px" value="{{ motorCoachDataTwo.shaftEncoder1Speed }}" disabled /></p>
                                    <p><strong>Shaft 2:</strong>&nbsp;<input type="text"  style="width:30px;padding-left: 2px" value="{{ motorCoachDataTwo.shaftEncoder2Speed }}" disabled /></p>
                                    <p><strong>Shaft 3:</strong>&nbsp;<input type="text"  style="width:30px;padding-left: 2px" value="{{ motorCoachDataTwo.shaftEncoder3Speed }}" disabled /></p>
                                    <p><strong>Shaft 4:</strong>&nbsp;<input type="text"  style="width:30px;padding-left: 2px" value="{{ motorCoachDataTwo.shaftEncoder4Speed }}" disabled /></p>
                                </div>
                            </td>
                            <td class="text-center">
                                <p ng-click="showShaftEncoder3=!showShaftEncoder3" class="text-success"><button class="btn btn-sm btn-success">OK&nbsp;<i class="fa fa-caret-square-o-down"></i></button></p>
                                <div ng-show="showShaftEncoder3">
                                    <p><strong>Shaft 1:</strong>&nbsp;<input type="text" style="width:30px;padding-left: 2px" value="{{ motorCoachDataThree.shaftEncoder1Speed }}" disabled /></p>
                                    <p><strong>Shaft 2:</strong>&nbsp;<input type="text"  style="width:30px;padding-left: 2px" value="{{ motorCoachDataThree.shaftEncoder2Speed }}" disabled /></p>
                                    <p><strong>Shaft 3:</strong>&nbsp;<input type="text"  style="width:30px;padding-left: 2px" value="{{ motorCoachDataThree.shaftEncoder3Speed }}" disabled /></p>
                                    <p><strong>Shaft 4:</strong>&nbsp;<input type="text"  style="width:30px;padding-left: 2px" value="{{ motorCoachDataThree.shaftEncoder4Speed }}" disabled /></p>
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td>Boggie Current</td>
                            <td class="text-center">
                                <p ng-click="showBoggieCurrent1=!showBoggieCurrent1" class="text-{{getisBoggieOkayClass(motorCoachDataOne.boggie1Current,motorCoachDataOne.boggie2Current)}}"><button class="btn btn-sm btn-{{getisBoggieOkayClass(motorCoachDataOne.boggie1Current,motorCoachDataOne.boggie2Current)}}">{{isBoggieOkay(motorCoachDataOne.boggie1Current,motorCoachDataOne.boggie2Current)}}&nbsp;<i class="fa fa-caret-square-o-down"></i></button></p>
                                <div ng-show="showBoggieCurrent1">
                                    <p><strong>Boggie 1:</strong>&nbsp;<input type="text" style="width:30px;padding-left: 2px" value="{{ motorCoachDataOne.boggie1Current }}" disabled /></p>
                                    <p><strong>Boggie 2:</strong>&nbsp;<input type="text"  style="width:30px;padding-left: 2px" value="{{ motorCoachDataOne.boggie2Current }}" disabled /></p>
                                </div>

                            </td>
                            <td class="text-center">
                                <p ng-click="showBoggieCurrent2=!showBoggieCurrent2" class="text-{{getisBoggieOkayClass(motorCoachDataTwo.boggie1Current,motorCoachDataTwo.boggie2Current)}}"><button class="btn btn-sm btn-{{getisBoggieOkayClass(motorCoachDataTwo.boggie1Current,motorCoachDataTwo.boggie2Current)}}">{{isBoggieOkay(motorCoachDataTwo.boggie1Current,motorCoachDataTwo.boggie2Current)}}&nbsp;<i class="fa fa-caret-square-o-down"></i></button></p>
                                <div ng-show="showBoggieCurrent2">
                                    <p><strong>Boggie 1:</strong>&nbsp;<input type="text" style="width:30px;padding-left: 2px" value="{{ motorCoachDataTwo.boggie1Current }}" disabled /></p>
                                    <p><strong>Boggie 2:</strong>&nbsp;<input type="text"  style="width:30px;padding-left: 2px" value="{{ motorCoachDataTwo.boggie2Current }}" disabled /></p>
                                </div>
                            </td>
                            <td class="text-center">
                                <p ng-click="showBoggieCurrent3=!showBoggieCurrent3" class="text-{{getisBoggieOkayClass(motorCoachDataThree.boggie1Current,motorCoachDataThree.boggie2Current)}}"><button class="btn btn-sm btn-{{getisBoggieOkayClass(motorCoachDataThree.boggie1Current,motorCoachDataThree.boggie2Current)}}">{{isBoggieOkay(motorCoachDataThree.boggie1Current,motorCoachDataThree.boggie2Current)}}&nbsp;<i class="fa fa-caret-square-o-down"></i></button></p>
                                <div ng-show="showBoggieCurrent3">
                                    <p><strong>Boggie 1:</strong>&nbsp;<input type="text" style="width:30px;padding-left: 2px" value="{{ motorCoachDataThree.boggie1Current }}" disabled /></p>
                                    <p><strong>Boggie 2:</strong>&nbsp;<input type="text"  style="width:30px;padding-left: 2px" value="{{ motorCoachDataThree.boggie2Current }}" disabled /></p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Line voltage</td>
                            <td class="text-center text-{{getIsLineVoltageClass(motorCoachDataOne.lineVoltage)}}">{{ formatLineVoltage(motorCoachDataOne.lineVoltage) }} KV</td>
                            <td class="text-center text-{{getIsLineVoltageClass(motorCoachDataTwo.lineVoltage)}}">{{ formatLineVoltage(motorCoachDataTwo.lineVoltage) }} KV</td>
                            <td class="text-center text-{{getIsLineVoltageClass(motorCoachDataThree.lineVoltage)}}">{{ formatLineVoltage(motorCoachDataThree.lineVoltage) }} KV</td>
                        </tr>
                        <tr>
                            <td>MA voltage</td>
                            <td class="text-center text-{{ getIsMaOutputVoltageClass(motorCoachDataOne.maOutPutVoltage) }}">{{ motorCoachDataOne.maOutPutVoltage }} V</td>
                            <td class="text-center text-{{ getIsMaOutputVoltageClass(motorCoachDataTwo.maOutPutVoltage) }}">{{ motorCoachDataTwo.maOutPutVoltage }} V</td>
                            <td class="text-center text-{{ getIsMaOutputVoltageClass(motorCoachDataThree.maOutPutVoltage) }}">{{ motorCoachDataThree.maOutPutVoltage }} V</td>
                        </tr>
                        <tr>
                            <td>Speed</td>
                            <td class="text-center text-{{getIsSpeedGood(motorCoachDataOne.speedo)}}">{{ motorCoachDataOne.speedo }} KM/H</td>
                            <td class="text-center text-{{getIsSpeedGood(motorCoachDataTwo.speedo)}}">{{ motorCoachDataTwo.speedo }} KM/H</td>
                            <td class="text-center text-{{getIsSpeedGood(motorCoachDataThree.speedo)}}" >{{ motorCoachDataThree.speedo }} KM/H</td>
                        </tr>
                        <tr>
                            <td>GPA speed</td>
                            <td class="text-center text-{{getIsSpeedGood(motorCoachDataOnce.gpsSpeed)}}">{{ motorCoachDataOne.gpsSpeed }} KM/H</td>
                            <td class="text-center text-{{getIsSpeedGood(motorCoachDataTwo.gpsSpeed)}}">{{ motorCoachDataTwo.gpsSpeed }} KM/H</td>
                            <td class="text-center text-{{getIsSpeedGood(motorCoachDataThree.gpsSpeed)}}">{{ motorCoachDataThree.gpsSpeed }} KM/H</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="text-center text-danger"><span ng-show="motorCoachDataOne.error">{{ motorCoachDataOne.error }}</span></td>
                            <td class="text-center text-danger"><span ng-show="motorCoachDataTwo.error">{{ motorCoachDataTwo.error }}</span></td>
                            <td class="text-center text-danger"><span ng-show="motorCoachDataThree.error">{{ motorCoachDataThree.error }}</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3">
        <div class="block">
            <div class="header">
                <h2>Train Speed</h2>
            </div>
            <div class="content text-center">
                <div class="figure">
                    <div width="180" ng-radial-gauge ranges="ranges" value="trainSpeed" value-unit="unit" precision="precision" lower-limit="lowerLimit" upper-limit="upperLimit"></div>
                </div>
            </div>
        </div>

        <div class="block">
            <div class="header">
                <h2>Train Location</h2>
            </div>
            <div class="content">
                <ng-map scrollwheel="false"
                        center="{{MapLatitude}}, {{MapLongitude}}" zoom="{{zoomlevel}}">
                    <marker position="{{Markerlatitude}},{{MarkerLongitude}}">
                    </marker>
                </ng-map>
            </div>
        </div>
    </div>

