/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/config/deploy.rb
/app/logs/*
!app/logs/.gitkeep
/app/sessions/*
!app/sessions/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/sensiodistribution
/web/bundles/framework
/web/bundles/fosjsrouting
/.idea/
