<div class="cl-sidebar" data-position="right" data-step="1" data-intro="<strong>Fixed Sidebar</strong> <br/> It adjust to your needs." >
    <div class="cl-toggle"><i class="fa fa-bars"></i></div>
    <div class="cl-navblock">
        <div class="menu-space">
            <div class="content">
                <div class="side-user">

                </div>
                <ul class="cl-vnavigation">
                    <li {% if action == 'dashboard' %} class="active" {% endif %}>
                        <a href="#" alt="Dashboard" title="Dashboard"><i class="fa fa-dashboard"></i><span>Dashboard</span></a>
                    </li>
                    {% include ':Menus/Side:user.html.twig' %}
                </ul>
            </div>
        </div>
        <div class="text-right collapse-button" style="padding:7px 9px;">
            <button id="sidebar-collapse" class="btn btn-default" style=""><i style="color:#fff;" class="fa fa-angle-left"></i></button>
        </div>
    </div>
</div>
