<!-- Fixed navbar -->
<div id="head-nav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="fa fa-gear"></span>
            </button>
            <a class="navbar-brand" href="#"><i class="fa fa-exchange info"></i>Mission Control Tracer</a>
        </div>
        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right user-nav">
                <li class="dropdown profile_menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>{{ app.user.getFullName }}</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('mlanka_tech_app.user_change_password',{slug:app.user.slug})}}.html">Change Password</a></li>
                        <li><a href="{{ path('mlanka_tech_app.user_profile',{slug:app.user.slug})}}.html">Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('_security_logout')}}" title="Logout" alt="Logout">Logout</a></li>
                    </ul>
                </li>
            </ul>

        </div><!--/.nav-collapse animate-collapse -->
    </div>
</div>
