<p class="lead">Mission Control Tracer v 0.0.1</p>
{% if error is not null %}
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        {{ error.messageKey|trans(error.messageData, 'messages') }}
    </div>
{% endif %}
<form name="login" class="app-login" action="{{ path('_security_check') }}" autocomplete="off" {% if app.debug %} novalidate="true"{% endif %}  method="POST">
    <div class="form-group">
        <input type="email" name="_username" aria-label="email" placeholder="Email address" class="form-control input-lg" value="{{ last_username }}" required="required" autocomplete="off">
    </div>
    <div class="form-group">
        <input type="password" name="_password" aria-label="password" placeholder="Password" class="form-control input-lg" required="required" autocomplete="off">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg btn-block">LOGIN</button>
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >
</form>





