{% extends "::base.html.twig" %}

{% block header %}
    <div class="page-head">
        <h2>{{ page_header }}</h2>
        <ol class="breadcrumb">
                <li><a href="{{ path('mlanka_tech_app.motor_coach_list')}}.html" title="List motor coach types" alt="List motor coach types">Motor coaches</a></li>
                <li class="active">{{ breadcrumb }}</li>
        </ol>
    </div>
{% endblock header %}


{% block body %}

{% endblock body %}
